<div class="about-info">
  <div class="about-image">
    <img src={{logoUrl}}>
  </div>
  <div class="about-text">
    {{infoText}}
  </div>
  <div class="about-buttons">
    <button type="button" class="submit-button" {{action "getHelp" getHelpUrl}}>Get help</button>
    <button type="button" class="submit-button" {{action "reportIssue" reportIssueUrl}}>Report an issue</button>
  </div>
</div>
