<header>
  <h1>Vm</h1>
</header>

<div>
  {{outlet}}
</div>

<footer>
  <span class="copyright">&copy;2016 VM powerd by EmberJS</span>
  <div class="about-link">
      {{#link-to 'about'}}About{{/link-to}}
  </div>
</footer>
