<div>Here is your {{model}}</div>
{{#if (eq model "Mars")}}
  <div><img src="./Mars.png"></div>
{{/if}}
{{#if (eq model "Snickers")}}
  <div><img src="./Snickers.png"></div>
{{/if}}
{{#if (eq model "Twix")}}
  <div><img src="./Twix.jpg"></div>
{{/if}}

{{outlet}}
